.footer {
  background-color: var(--black-color-footer);
  height: 80px;
}
.footer .container {
  /* width: 100%; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .container > p {
  color: var(--white-color);
}

.footer .container .social-icons {
  padding-bottom: 7px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}
.footer .container .social-icons .social-icon {
  background-color: var(--black-color-alt);
  border-radius: 50%;
  padding: 8px;
  color: var(--white-color);
}
@media (max-width: 768px) {
  .footer {
    height: 122px;
  }
  .footer .container {
    flex-direction: column;
    justify-content: center;
  }
  .footer .container > p {
    order: 2;
  }
  .footer .container .social-icons {
    order: 1;
  }
}
