button {
  cursor: pointer;
}
.scroll-btn {
  position: fixed;
  bottom: 90px;
  right: 50px;
  font-size: 30px;
  color: var(--black-color);
  cursor: pointer;
  animation: btn-up-and-down 1.5s linear infinite;
}
@keyframes btn-up-and-down {
  0%,
  100% {
    bottom: 83px;
  }
  50% {
    bottom: 97px;
  }
}